*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/sonarlint/
app/build/
.zip


.settings
/app/build
.classpath
gradle
gradlew
gradlew.bat

*.zip
*.rar
*.apk
*.aab
*.jks
*.mp3
*.mov
*.mp4
*.pdf
*.psd